body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.btn-primary{
  background-color: purple;
  color: white;
  border-color:purple;
  transition-duration: 0.4s;
}

.btn-xxl {
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
}
.btn-primary:hover {
    background-color: #d8bfd8; /* a diffrent shade of purple*/
    border-color: #d8bfd8;
    color: white;
  }
